*{
margin:0;
padding:0;
}

body{
	background-color: hsl(229, 57%, 11%);
	background-image: url("bg-desktop.png");
	background-repeat:no-repeat;
background-attachment:fixed;
background-position: center bottom;
background-size:100% 50%;

}

.edge{
	width:400px;
	height:250px;
	background-color: hsl(228, 56%, 26%);

position:absolute;
bottom:40%;
left:21%;
border-radius:10px;
border-top-right-radius:110px;
}
.load{
	width:700px;
	height:180px;
	background-color: hsl(228, 56%, 26%);
	position:absolute;
	bottom:40%;
border-radius:10px;
left: 45%;
}
.bubble{
	width:200px;
	height:90px;
	
	background-color:white;
border-radius:10px;
position:absolute;
bottom:55%;
left:68%;
}
.sturis{
	background-color:white;
	height:50px;
	width:50px;
	position:absolute;
bottom:51.4%;
left:75.85%;
	  clip-path: polygon(101.33% 16.00%, 22.67% 17%, 106% 90%);
}

@media(max-width:900px){
	body{
		display:flex;
		flex-direction:column;
		background-image: url("bg-mobile.png");
		background-position: initial;
		background-size:cover;
		justify-content:center;
		height:100vh;
	}

	.load{
		position: initial;
		width:85%;
		margin-left:auto;
	margin-right:auto;
		height:180px;
		
	}
	.edge{
		width:85%;
		height:240px;
		position:initial;
	margin-left:auto;
	margin-right: auto;
	margin-bottom:20px;
	}
	.bubble{
		width:40%;
		position:initial;
		margin:auto;
		margin-top:-40px;
	}
	.sturis{
	visibility:hidden;}
}	

@media (max-width:1450px){
	.load{
	
	left:48%;}
	.edge{
		height:220px;
	left:18%;}
}	
		

	